.container__footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  background-color: #003946;
  height: 30vh;
  color: white;
  h3 {
    padding: 20px 0;
    font-size: 1.4em;
}
  &__links {
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
   
    p {
        padding: 5px 0;
    }
  }
  &__contact {
      grid-column: 6/8;
      display: flex;
      flex-direction: column;
    
      &__phone{
          font-size: 2em;
          font-weight: bolder;
      }
      &__time {
          font-size: 12px;
          color: lightgrey;
      }   
  }
  &__newsletter {
      grid-column: 9/11;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      &__social {
        display: flex;
        img {
            height: 4vh;
            padding: 0 15px 15px 0;
        }
      }
    input {
        height: 4vh;
        margin: 5px 0;
      }
    button{
        margin-top: 10px;
        width: 45%;
        background-color: turquoise;
        height: 4vh;
        font-size: 15px;
        font-weight: bolder;
        color: black;
        border: none;
    }
    button:hover {
        transition: ease .3s;
        background-color: black;
        color: white;
    }
  }
}
