.container__footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  background-color: black;
  height: 30vh;
  color: white;
  &__links {
    grid-column: 3/6;
    display: flex;
    flex-direction: column;
    p {
        padding: 5px 0;
    }
  }
}
