:root {
  --main-radius: 0px;
  --main-padding: 5px;
}

.container {
  display: grid;
  height: 300vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2.5fr 1fr 1.2fr 1fr 1fr 1fr;
  grid-template-areas: "nav nav nav nav" "video video video video" "welcome welcome welcome welcome" "offer offer offer offer" "ref ref ref ref" "news news exp exp" "footer footer footer footer";
  
}

nav {
  color: white;
  grid-area: nav;
  background-color: #413C58;
  border-radius: var(--main-radius);
  padding: var(--main-padding)
}

footer {
  grid-area: footer;
  background-color: deeppink;
  border-radius: var(--main-radius);
  padding: var(--main-padding)
}

iframe {
  width: 80vw;
  height: 80vh;
}

.container {
  &__nav {
    display: flex;
    &__div1{
      width: 50%;
      display: flex;
      align-items: center;
      margin-left: 1em;
      font-size: 2em;
      font-weight: 900;
    }
    &__div2{
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-weight: 700;
      font-size: 1.3em;
    }
  }
  &__video {
    grid-area: video;
    background-color: white;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  &__welcome {
    grid-area: welcome;
    background-color: greenyellow;
    border-radius: var(--main-radius);
    padding: var(--main-padding)
  }
  &__offer {
    grid-area: offer;
    background-color: olivedrab;
    border-radius: var(--main-radius);
    padding: var(--main-padding)
  }
  &__references {
    grid-area: ref;
    background-color: skyblue;
    border-radius: var(--main-radius);
    padding: var(--main-padding)
  }
  &__newsletter {
    grid-area: news;
    background-color: burlywood;
    border-radius: var(--main-radius);
    padding: var(--main-padding)
  }
  &__explore {
    grid-area: exp;
    background-color: firebrick;
    border-radius: var(--main-radius);
    padding: var(--main-padding)
  }
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.5fr 1fr 1.2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav" "video" "welcome" "offer" "ref" "news" "exp" "footer";
  }
}
