.offer__container {
  position: relative;
  .offer__text {
    font-size: 25px;
    color: black;
    padding: 35px 35px 0;
    line-height: 1.5;
  }

  &__h2__div {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    color: #003946;
  }
  h2 {
    font-weight: 600;
    font-size: calc(36px + (7800vw - 29250px) / 1545);
    letter-spacing: -3px;
    color: black;
  }
  .offer-flyout {
    top: 380px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: #0e2347;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;

    &--content {
      width: 70%;
      padding: 35px 0;
      margin: 0 auto;
      .offer-flyout__headline {
        font-size: 32px;
        color: white;
        font-size: calc(36px + (7800vw - 29250px) / 1545);
      }
    }
  }
}

.zauberkurs-backdrop {
  display: none;
}
.grid-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  grid-gap: 3em;
  align-items: center;
  justify-content: center;
  .zauberkurs-checkbox {
    cursor: pointer;
  }
}
#zauberkurs-checkbox {
  display: none;
}
#zauberkurs-checkbox {
  &:checked ~ .offer-flyout {
    transform: translatex(0%);
    z-index: 102;
  }

  &:checked ~ .zauberkurs-checkbox > .zauberkurs-backdrop {
    display: inline;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
}

.mobile-text {
  display: none;
}

.img {
  &1 {
    margin-top: 10%;
    filter: contrast(2);
  }
  &2 {
    margin-top: 2%;
    filter: contrast(2);
  }
}

.image {
  position: relative;
  width: 100%;

  &__img {
    display: block;
    width: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
  }

  &__overlay > * {
    //* targets all direct childs of image__overlay means title and description
    transform: translateY(80px);
    transition: transform 0.25s;
  }
  &__overlay:hover {
    opacity: 1;
  }
  &__overlay:hover > * {
    transform: translateY(0);
  }
  &__overlay--blur {
    backdrop-filter: blur(5px);
  }
  &__title {
    font-size: 2em;
    font-weight: bold;
  }
  &__description {
    font-size: 1.5em;
    margin-top: 0.25em;
  }
}

@media only screen and (max-width: 550px) {
  .img {
    &1 {
      margin-top: 0;
    }
    &2 {
      margin-top: 0;
    }
  }
  .offer__container {
    min-height: 100%;
    &__h2__div {
      margin-top: 0;
    }
    h2 {
      font-weight: 600;
      font-size: 44px;
      line-height: 1;
    }
  }
  .mobile-text {
    display: block;
    width: 50%;
    padding: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "emp con emp con emp con emp";
    grid-gap: 2em;
  }
  .image-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .image {
    width: 150px;

    &__title {
      font-size: 1em;
    }
    &__description {
      font-size: 0.75em;
    }
  }
}
