.toolbar {
  a {
    cursor: pointer;
  }

  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  position: fixed;
  width: 55%;
  right: 0;
  color: white;
  z-index: 10;
  height: 60px;
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    a {
      font-size: 22px;
    }

    &__items {
      display: flex;
      justify-content: space-around;
      width: 100%;
      font-size: 2em;
    }
    &__items a {
      text-decoration: none;
      color: white;
    }
    &__items a:hover,
    &__items a:active {
      color: rgb(90, 196, 181);
    }
  }
}
.toolbar.activate {
  background-color: white;
  padding-bottom: 0.75em;
  a {
    color: #003946;
  }
}

@media (max-width: 768px) {
  .toolbar__navigation__items {
    display: none;
  }
  .toolbar__navigation__logo {
    margin-right: 40px;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
  .toolbar__navigation__logo {
    margin-left: 0;
  }
}
