.container__welcome {
  height: 60vh;
  h1 {
      letter-spacing: -3px;
      font-weight: 500;
  }
  &__h1__1 {
    padding: 0 0.2em;
  }
  &__h1__2 {
    padding: 0 0 0 2em;
  }

  p {
    text-align: left;
    padding: 0 20%;
    font-size: 28px;
  }

}

@media only screen and (max-width: 550px) {
  .container__welcome {
    h1 {
      font-size: 40px;
      padding: 0 0 0 15px;
      margin: 0;
     font-weight: 600;
    }
    p {
        text-align: left;
        padding: 55px 36px;
        font-size: 18px;
    }
    &__h1 {
        background:  black;
        color: whitesmoke;
    }
    &__h1__2__div {
        display: flex;
        justify-content: center;
    }
  }
}
