.container__welcome {
  width: 85%;
  margin: 0 auto;

  .landing__headline {
    font-weight: 300;
    font-size: 68px;
    line-height: 1;
    letter-spacing: -3px;
    padding-bottom: 10px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    color: black;
  }
}

@media only screen and (max-width: 550px) {
  .container__welcome {
    width: 100%;
    min-height: 20vh;

  }
}
